# files
*.log
.DS_Store
secret.lua

# folders
nvim
cava/
skhd/
yadm/
yabai/
valet/
vscode/
phpmon/
lazygit/
swiftpm/
raycast/
prettier/
cava/shaders/
github-copilot/

# fastfetch
fastfetch/*
!fastfetch/config.jsonc

# aerospace
aerospace/scripts/*.swift
aerospace/scripts/backups/

# zsh
zsh/rc/*
zsh/.cache
zsh/.zsh_*
zsh/.zshrc_*
zsh/.zcompcache
!zsh/rc/aliases.zsh

# zed
zed/*
!zed/themes
!zed/keymap.json
!zed/settings.json
sketchybar/
